@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Black.eot");
    src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.eot");
    src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.eot");
    src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Light.eot");
    src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

[hidden],
template {
    display: none
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}

abbr[title] {
    border-bottom: 1px dotted
}

b,
strong {
    font-weight: bold
}

dfn {
    font-style: italic
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

mark {
    background: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

img {
    border: 0
}

svg:not(:root) {
    overflow: hidden
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0
}

pre {
    overflow: auto
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input {
    line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em
}

legend {
    border: 0;
    padding: 0
}

textarea {
    overflow: auto
}

optgroup {
    font-weight: bold
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td,
th {
    padding: 0
}

::-moz-selection {
    background: #FFF498
}

::selection {
    background: #FFF498
}

::-moz-selection {
    background: #FFF498
}

img::-moz-selection {
    background: transparent
}

img::selection {
    background: transparent
}

img::-moz-selection {
    background: transparent
}

body {
    -webkit-tap-highlight-color: #FFF498
}

body {
    background-color: #0c0c0c;
    font-size: 14px;
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%
}

.l-viewport {
    position: relative;
    width: 100%;
    height: 100vh;
    box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
    overflow: hidden
}

.l-wrapper {
    position: relative;
    width: 1440px;
    max-width: 90%;
    height: 100%;
    margin: 0 auto
}

.l-side-nav {
    position: absolute;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.l-side-nav::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 2px;
    height: 70%;
    max-height: 750px;
    background-color: #555;
    opacity: .35;
    z-index: 10
}

@media (max-width: 480px) {
    .l-side-nav {
        display: none
    }
}

.l-main-content {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none
}

.l-section {
    position: absolute;
    width: 100%;
    height: 100%
}

.device-notification {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #0c0c0c;
    z-index: 12
}

.device-notification--logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    color: #fff
}

.device-notification--logo p {
    margin: 0 0 0 10px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase
}

.device-notification--message {
    width: 70%;
    margin: 30px 0 0 0;
    font-weight: 700;
    text-align: center
}

@media (max-width: 767px) and (min-width: 601px) and (max-height: 680px) {
    .device-notification {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}

@media (max-width: 600px) and (min-width: 480px) and (max-height: 580px) {
    .device-notification {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}

@media (max-width: 479px) {
    .device-notification {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }
}

.device-notification--logo img {
    height: 50px
}

.s-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    -webkit-transition: color 0.2s;
    transition: color 0.2s
}

.s-link:hover {
    color: #a09f9f
}

@media (max-width: 1024px) {
    .l-side-nav::before {
        display: none
    }
}

@media (max-width: 480px) {
    .l-main-content {
        height: 50%
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

.fadeOut {
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in
}

.fadeOut {
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

.l-side-nav {
    z-index: 10;
    width: 110px;
    height: 100vh;
    padding-left: 30px;
    background-color: transparent;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

@media (max-width: 480px) {
    .l-side-nav {
        height: 50px
    }
}

.l-side-nav__nav {
    margin-top: 30%;
    z-index: 10;
    list-style: none
}

.l-side-nav__nav li {
    margin-bottom: 30px
}

@media (max-width: 480px) {
    .l-side-nav__nav li {
        margin-bottom: 0;
        display: inline-block;
        width: 50px;
        text-align: center
    }
}

.l-side-nav__nav li:last-child {
    margin-bottom: 0
}

@media (max-width: 480px) {
    .l-side-nav__nav li:last-child {
        display: none
    }
}

.l-side-nav__nav a {
    position: relative;
    z-index: 10;
    display: block;
    padding: 5px;
    background-color: transparent;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

.l-side-nav__nav a span {
    display: block;
    position: absolute;
    top: 50%;
    left: 25px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    background-color: transparent;
    border: 2px solid #555;
    border-radius: 50%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

@media (max-width: 480px) {
    .l-side-nav__nav a span {
        display: none
    }
}

.l-side-nav__nav a span::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    background-color: #0c0c0c;
    border-radius: 50%;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

.l-side-nav__nav a span.active {
    background-color: #ff214f;
    border-color: #ff214f
}

.l-side-nav__nav a span.active::before {
    background-color: #ff214f
}

.l-side-nav__nav a.active {
    color: #ff214f
}

@media (max-width: 480px) {
    .l-side-nav__nav a.active span {
        display: none
    }
}

@media (max-width: 480px) {
    .l-side-nav__nav a.active {
        color: #ff214f
    }
}

@media (max-width: 480px) {
    .l-side-nav__nav a.active span {
        display: none
    }
}

a.s-link {
    font-weight: 400;
    font-size: 12px;
    color: #a09f9f;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

@media (max-width: 480px) {
    .l-side-nav__nav a {
        font-weight: 700;
        font-size: 10px;
        letter-spacing: 1px;
        text-transform: uppercase
    }
}

.l-main-content {
    z-index: 8;
    padding-left: 130px;
    background-color: #0c0c0c;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

@media (max-width: 480px) {
    .l-main-content {
        padding-left: 0;
        height: 50%
    }
}

@media (max-width: 480px) {
    .s-button--nav {
        z-index: 10
    }
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    margin-left: 10%;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

@media (max-width: 480px) {
    .header {
        display: block;
        margin-left: 0;
        padding-left: 20px;
        padding-right: 20px;
        height: auto
    }
}

.header__name {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase
}

.header__name span {
    color: #ff214f
}

.header__content {
    margin-top: 20px;
    font-weight: 300
}

@media (max-width: 480px) {
    .header__content {
        margin-bottom: 50px
    }
}

.header__content h1 {
    margin: 10px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 110px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -2px
}

.header__content h2 {
    margin: 0;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 6px;
    text-transform: uppercase
}

@media (max-width: 1024px) {
    .header__content h1 {
        font-size: 90px
    }
}

@media (max-width: 480px) {
    .header__content h1 {
        font-size: 60px
    }
}

@media (max-width: 480px) {
    .header__content h2 {
        font-size: 12px;
        letter-spacing: 2px
    }
}

@media (max-width: 1024px) {
    .header__name {
        font-size: 12px
    }
}

.device-notification--message {
    font-size: 14px
}

.s-button--nav {
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border: 0;
    background-color: transparent;
    text-indent: -9999px;
    cursor: pointer
}

.s-button--nav::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

.s-button--nav::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

@media (max-width: 480px) {
    .s-button--nav::before {
        position: relative;
        top: 0;
        width: 30px;
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }
}

@media (max-width: 480px) {
    .s-button--nav::after {
        position: relative;
        top: 4px;
        width: 30px;
        -webkit-transform: translateY(2px);
        transform: translateY(2px)
    }
}

.s-button--nav span {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
    padding: 10px;
    text-indent: 0;
    text-transform: uppercase;
    color: #fff;
    font-size: 10px;
    letter-spacing: 1px
}

.s-button--nav span::before {
    content: "Menu";
    position: relative;
    z-index: 11;
    color: #fff;
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
    opacity: 1;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

.s-button--nav span::after {
    content: "Close";
    position: relative;
    z-index: 11;
    color: #fff;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    opacity: 0;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

.s-button--nav.active::before {
    -webkit-transform: translateY(6px) rotate(45deg);
    transform: translateY(6px) rotate(45deg)
}

.s-button--nav.active::after {
    -webkit-transform: translateY(2px) rotate(-45deg);
    transform: translateY(2px) rotate(-45deg)
}

.s-button--nav.active span::before {
    opacity: 0;
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%)
}

.s-button--nav.active span::after {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.popup-menu {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: scale(0.6);
    transform: scale(0.6);
    background-color: rgba(0, 0, 0, 0.9);
    visibility: hidden;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

.popup-menu__inner {
    z-index: 9;
    width: 100%;
    padding: 50px 0;
    text-align: center
}

.popup-menu__list {
    padding: 0;
    margin: 0 auto;
    list-style: none
}

.popup-menu__list li {
    margin-bottom: 10px
}

.popup-menu__list li:last-child {
    margin-bottom: 0
}

.popup-menu__list li a {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

.popup-menu__list li a:hover {
    color: #ff214f
}

.popup-menu__list li a span {
    display: block;
    height: 30px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase
}

.popup-menu__list li a span span {
    color: #ff214f
}

.popup-menu.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.popup-menu.visible .popup-menu__inner {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s
}

@media (max-width: 768px) {
    .popup-menu__list li a {
        font-size: 20px
    }
}

@media (max-width: 480px) {
    .popup-menu__list li a {
        font-size: 15px
    }
}

.footer {
    margin-left: 10%;
    padding: 50px 0;
    color: #fff;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

@media (max-width: 1024px) {
    .footer {
        margin-left: 0
    }
}

.footer__copyright {
    font-size: 14px
}

.footer__copyright span {
    color: #ff214f
}

.footer__copyright a {
    color: #ff214f;
    text-decoration: none
}

@media (max-width: 480px) {
    .footer {
        padding-left: 20px;
        padding-right: 20px
    }
}

.social-nav {
    display: inline-block;
    margin-left: 100px;
    list-style: none
}

@media (max-width: 1024px) {
    .social-nav {
        margin-left: 50px
    }
}

.social-nav li {
    display: inline-block
}

.social-nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    -webkit-transition: all 0.4s;
    transition: all 0.4s
}

.social-nav li a span {
    display: block;
    margin-top: 5px;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff
}

.social-nav li a:hover {
    color: #ff214f
}

@media (max-width: 480px) {
    .social-nav {
        margin-left: 0
    }
}

@media (max-width: 480px) {
    .social-nav li {
        margin-right: 20px
    }
}
